@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-zinc-200;
  }
  ::selection {
    @apply bg-black text-white;
  }
  body {
    @apply bg-[#fbfbfb] text-zinc-900 antialiased font-sans;
  }
}

/* Sleek minimalist scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
